<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <% const name = "ayman" %>
</head>
<body>
    <%- include('./partials/menu.ejs') %>

    <h1>home page developed <%= name%> </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ipsa sunt nihil quam nisi. Soluta assumenda expedita necessitatibus numquam impedit est consequatur hic eum nam excepturi ipsum, aliquid tempore odio?
    Itaque accusamus odio, dignissimos reiciendis laboriosam dolore sint, molestiae voluptatum iure laborum odit natus blanditiis! Fugit ad saepe, ipsa accusamus dolores quaerat recusandae placeat autem totam deleniti enim. Optio, illum.
    </p>
</body>
</html>